@model IEnumerable<LJSS.Models.WordModel>

@{
    ViewData["Title"] = "View All Words";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-sm-6"><h4>All Words</h4></div>
        <div class="col-sm-6 text-right"><p><a asp-action="Create"><img src="~/assets/bi/plus-square.svg" /></a></p></div>
    </div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.English)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Japanese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pronunciation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.System)
            </th>
            <th>Utility</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.English)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Japanese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pronunciation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.System)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><img id="edit" src="~/assets/bi/pencil.svg" /></a>
                <a asp-action="Details" asp-route-id="@item.ID"><img id="view" src="~/assets/bi/file-earmark-text.svg" /></a>
                <a asp-action="Delete" asp-route-id="@item.ID"><img id ="delete" src="~/assets/bi/dash-square.svg" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
