
@model IEnumerable<LJSS.Models.Kana>
@{
    ViewData["Title"] = "KANA";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script>
    function playtheaudio(aID) {
        var path = "\\assets\\sounds\\kana\\"
        var snd = new Audio(path + aID + ".mp3");
        snd.play();
    }
</script>


<div class="row">
    <div class="col-sm-6"><h4>KANA</h4></div>
    <div class="col-sm-6 text-right"><p><a asp-action="Create"><img src="~/assets/bi/plus-square.svg" /></a></p></div>
</div>

<table  id ="kanatable" class="table">
    <thead>
        <tr class="table-primary">
            <th onclick="sortTable(0)">
                @Html.DisplayNameFor(model => model.Pronunciation)
            </th>
            <th onclick="sortTable(1)">
                @Html.DisplayNameFor(model => model.Hiragana)
            </th>
            <th onclick="sortTable(2)">
                @Html.DisplayNameFor(model => model.Katakana)
            </th>
            <th>Utility</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.Pronunciation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hiragana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Katakana)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID"><img id="edit" src="~/assets/bi/pencil.svg" /></a>
                    <a asp-action="Details" asp-route-id="@item.ID"><img id="view" src="~/assets/bi/file-earmark-text.svg" /></a>
                    <a asp-action="Delete" asp-route-id="@item.ID"><img id="delete" src="~/assets/bi/dash-square.svg" /></a>

                    @if (System.IO.File.Exists(ViewData["kanasound"].ToString() + item.Hiragana + ".mp3"))
                    {
                        <a id="@item.Hiragana" onclick="playtheaudio(this.id)"><img class="audioicon" src="~/assets/bi/volume-up.svg" /></a>
                    }

                    else
                    {
                        <a id="@item.Hiragana" onclick="getKanaSound(this.id)" href="#">Create Audio</a>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>
