
@model IEnumerable<LJSS.Models.Kana>
@{
    ViewData["Title"] = "Index";
 
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}

<script>
    function playtheaudio(aID) {
        var path = "\\assets\\sounds\\kana\\"
        var snd = new Audio(path + aID + ".mp3");
        snd.play();
    }
</script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pronunciation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hiragana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Katakana)
            </th>
            <th>Utility</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pronunciation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hiragana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Katakana)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID"><img src="~/assets/bi/pencil.svg" /></a>
                    <a asp-action="Details" asp-route-id="@item.ID"><img src="~/assets/bi/file-earmark-text.svg" /></a>
                    <a asp-action="Delete" asp-route-id="@item.ID"><img src="~/assets/bi/dash-square.svg" /></a>

                    @if (System.IO.File.Exists(ViewData["kanasound"].ToString() + item.Hiragana + ".mp3"))
                    {
                        <a id="@item.Hiragana" onclick="playtheaudio(this.id)"><img src="~/assets/bi/volume-up.svg" /></a>
                       

                    }

                    else
                    {
                        <a id="@item.Hiragana" onclick="getKanaSound(this.id)" href="#">Create Audio</a>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>
